// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap Foundation components
body.admin-bar {
  // Offset sticky top bar
  &.f-topbar-fixed {
    .sticky.fixed {
      margin-top: rem-calc(32);
    }
  }
  // Offset mobile off-canvas menu
  &.offcanvas {
    .off-canvas.is-open {
      top: rem-calc(46);
      @include breakpoint(783) {
        top: rem-calc(32);
      }
    }
  }
}

blockquote {
    font-style: italic;
    width: 450px;
    margin: 0.25em 0;
    padding: 1.25em 43px;
    line-height: 1.45;
    position: relative;
    color: #ffffff;
    background:#202020;
}
 
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    font-family: auto;
    position: absolute;
    left: -5px;
    top: -10px;
    color: #565656;
}
 
blockquote cite {
    color: #545454;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
  
blockquote cite:before {
    content: "\2014 \2009";
}